rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isAuthenticated() {
      return request.auth != null;
    }

    match /vehicles/{allPaths=**} {
      allow read: if true;
      allow write: if isAuthenticated();
    }

    match /packages/{allPaths=**} {
      allow read: if true;
      allow write: if isAuthenticated();
    }

    match /hotels/{allPaths=**} {
      allow read: if true;
      allow write: if isAuthenticated();
    }

    match /users/{userId}/{allPaths=**} {
      allow read: if isAuthenticated() && request.auth.uid == userId;
      allow write: if isAuthenticated() && request.auth.uid == userId;
    }

    match /invoices/{allPaths=**} {
      allow read: if isAuthenticated();
      allow write: if isAuthenticated();
    }
  }
}
